<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/status.css">
    <title>혼잡도 표시</title>
    <style>      
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
        .box{
            width: 300vw;
            transition: transform 0.5s;
        }
        .inner{
            
            width: 100vw;
            float: left;
        }
        .line1{
            display: flex;
            width: 100%;
        }
        .line2{
            display: flex;
            width: 100%;
        }
        .line3{
            display: flex;
            width: 100%;
        }
        .infobox {
            width: 300px;
            height: 100px;
            border: 1px solid rgb(190, 189, 189);
            margin: 20px 65px 45px 15px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: rgb(170, 170, 170);
        }
        .infobox-img {
            width: 70px;
            height: 70px;
            background-color: rgb(179, 176, 176);
            margin-left: 20px;
        }
        .infobox-info{
            display: flex;
        }
        .infobox-title{
            font-family: 'Nanum Gothic', sans-serif;
            font-size:27px;
            font-weight: bolder;
            margin-left: 20px;
            color: black;
        }
        .infobox-status{
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: bolder;
            font-size: 15px;
            margin-left: 35px;
            margin-top: 10px;
            color: rgb(51, 110, 238);
        }
    </style>
</head>
<body>
    <h1>실시간 혼잡도</h1>
    <div style = "overflow:hidden">
    <div class="box">
        <div class="inner">
            <div class="line1">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line2">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line3">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지1
                        </div>
                        <div class="infobox-status">
                            쾌적
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="line1">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line2">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line3">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지2
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="line1">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line2">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
            <div class="line3">
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
                <div class="infobox">
                    <div class="infobox-img">
                        <img src="" alt="">
                    </div>
                    <div class="infobox-info">
                        <div class="infobox-title">
                            관광지3
                        </div>
                        <div class="infobox-status">
                            혼잡도
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="button-wrapper">
        <button class="button1">1</button>
        <button class="button2">2</button>
        <button class="button3">3</button>
    </div>

    <script type="text/javascript">
        document.querySelector('.button2').addEventListener('click', function(){
            document.querySelector('.box').style.transform = 'translate(-100vw)';
        });
        document.querySelector('.button3').addEventListener('click', function(){
            document.querySelector('.box').style.transform = 'translate(-200vw)';
        });
        document.querySelector('.button1').addEventListener('click', function(){
            document.querySelector('.box').style.transform = 'translate(-0vw)';
        });
    
    
    </script>

</body>
</html>